*{
    margin: 0;
    padding: 0px 3px;
    box-sizing: border-box;
}

body{
    background-color: rgb(124, 124, 124);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
}

.movie-info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.movie-card {
    color: white;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, green, black);
}

.movie-card img {
    width: 100%;
}

.movie-card p {
    margin-top: 15px;
}

.movie-card h2 {
    margin-top: 10px;
}

.btn-left {
    width: 30px;
    height: 25px;
    background-color: white;
}

.btn-right {
    width: 30px;
    height: 25px;
    background-color: white;
}